@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<div class="col py-2 col-xl-2 px-sm-2 px-0" id="main-display">
  <span class="fs-5 d-none d-sm-inline">Navigation Bar</span>
  <p>Some message here to users</p>

  <h4>Add a new stylist</h4>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new stylist" />
  }
</div>