@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<div class="col py-2 col-xl-2 px-sm-2 px-0" id="main-display">
  <span class="fs-5 d-none d-sm-inline">Navigation Bar</span>
  <p>Some message here to users</p>
  <h2>Edit Stylist</h2>

  <h4>Edit Stylist Details: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" />
  }
</div>