body {
  background-color: #451952;
  color: #dce0e7;
}

.jumbotron {
  background-color: #662549;
}

#side-bar {
  background-color: #f39f5a;
}

.container-fluid {
  background-color: #365577;
}

#main-display {
  background-color: #ae445a;
  font-size: larger;
}

.fs-5 {
  line-height: 200%;
}

.w-100 {
  line-height: 200%;
}
