@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon!</h1>
<p>There are currently no stylists in the database.</p>
<p>Click on a stylist below to see their clients.</p>
<p>@Html.ActionLink("View all clients", "Index", "Clients")</p>
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>